header {
    background-color: black;
}

header .headerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .acc_box {
    display: flex;
}

header .searchbox {
    display: flex;
}

header p {
    color: white;
    font-family: 'Ropa Sans';
    font-size: 8px;
    margin-left: 2px;
}

#txtsearch {
    width: 300px;
    height: 25px;
    font-size: 12px;
    border: 2px;
    border-style: double;
    border-radius: 5px;
}

.search_icon {
    margin-top: 2px;
    margin-left: 4px;
}

.acc_box p {
    font-size: 10px;
}

.nav_box {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: #8f1a1f;
    height: 70px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.box_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: white;
    font-family: 'Ropa Sans';
    line-height: 18px;
    margin-top: 10px;
}

.cat_box {
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.cat_box:hover {
    background-color: rgb(216, 135, 174);
}

.cat_info {
    font-family: 'Ropa Sans';
    margin-left: 10px;
    margin-bottom: 30px;
    color:white;
    font-size: 26px;
}

.cat_info p {
    font-size: 16px;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8f1a1f;
    font-family: 'Ropa Sans';
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

section .produtos_box {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

section .produto01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8f1a1f;;
    width: 230px;
    height: 330px;
    font-family: 'Ropa Sans';
    color: white;
    font-size: 14px;
    line-height: 0px;
}

section .produto01_button {
    width: 200px;
    height: 35px;
    font-size: 16px;
    font-family: 'Ropa Sans';
    border: none;
    border-radius: 5px;
    transition: background-color color;
    transition-duration: 0.5s;
}

section .produto01_button:hover {
    background-color: rgb(83, 38, 206);
    color: white;
}

.bottom_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8f1a1f;
    font-family: 'Ropa Sans';
    color: white;
    height: 45px;
    border-radius: 5px;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pag_button {
    font-family: 'Ropa Sans';
    width: 100px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner_full {
    display: flex;
    justify-content: center;
}

.pix {
    align-self: center;
}

.foot_infobox {
    display: flex;
    justify-content: space-around;
    background-color: #8f1a1f;;
    color: white;
    width: 1000px;
    height: 250px;
}

.foot_contato {
    display: flex;
    flex-direction: column;
    font-family: 'Ropa Sans';
    line-height: 30px;
}

.foot_infos {
    font-family: 'Ropa Sans';
    line-height: 30px;
}

.socials {
    font-family: 'Ropa Sans';
    line-height: 30px;
}

.socials_logo {
    display: flex;
    width: 100px;
}

.face {
    margin-left: 10px;
    margin-right: 15px;
}

.insta {
    margin-right: 15px;
}

hr {
    width: 250px;
}

.copyright {
    background-color: rgb(201, 199, 199);
    font-size: 10px;
    text-align: center;
}

.all_content {
    margin: 0 auto;
    width: 1000px;
    background-color: black;
}