header {
    background-color: black;
}

header .headerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .acc_box {
    display: flex;
}

header .searchbox {
    display: flex;
}

header p {
    color: white;
    font-family: 'Ropa Sans';
    font-size: 8px;
    margin-left: 2px;
}

#txtsearch {
    width: 300px;
    height: 25px;
    font-size: 12px;
    border: 2px;
    border-style: double;
    border-radius: 5px;
}

.search_icon {
    margin-top: 2px;
    margin-left: 4px;
}

.acc_box p {
    font-size: 10px;
}

.nav_box {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: #8f1a1f;
    height: 70px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.box_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: white;
    font-family: 'Ropa Sans';
    line-height: 18px;
    margin-top: 10px;
}

.cat_box {
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.cat_box:hover {
    background-color: rgb(216, 135, 174);
}

.novidades_box {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.nov_title {
    display: flex;
    align-items: center;
    font-family: 'Ropa Sans';
    font-size: 22px;
    color: white;
    margin-left: 10px;
}

.nov_button {
    align-self: center;
    margin-right: 10px;
}

.todas_novidades {
    font-family: 'Ropa Sans';
    font-size: 16px;
    background-color: #a85066;
    color: white;
    border: none;
    width: 150px;
    height: 42px;
    border-radius: 5px;
    transition: background-color color;
    transition-duration: 0.5s;
}

.todas_novidades:hover {
    background-color: rgb(207, 14, 149);
    color: black;
}

section .produtos_box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

section .produto01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a85066;
    width: 240px;
    height: 330px;
    font-family: 'Ropa Sans';
    color: white;
    font-size: 14px;
    line-height: 0px;
}

section .produto01_button {
    width: 200px;
    height: 35px;
    font-size: 16px;
    font-family: 'Ropa Sans';
    border: none;
    border-radius: 5px;
    transition: background-color color;
    transition-duration: 0.5s;
}

section .produto01_button:hover {
    background-color: rgb(83, 38, 206);
    color: white;
}

.news_box {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 5px;
    margin-top: 20px;
}

.news_title {
    display: flex;
    align-items: center;
    font-family: 'Ropa Sans';
    font-size: 22px;
    color: white;
    margin-left: 10px;
}

.news_logo {
    margin-right: 10px;
}

.news_info {
    font-size: 12px;
}

.news2 {
    display: flex;
    align-self: center;
}

.news_button {
    align-self: center;
    margin-right: 10px;
}

form {
    display: flex;
    align-items: center;
}

.news_nome {
    width: 200px;
    font-size: 12px;
    height: 30px;
    margin-right: 20px;
}

.news_email {
    width: 200px;
    font-size: 12px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner_full {
    display: flex;
    justify-content: center;
}

.foot_infobox {
    display: flex;
    justify-content: space-around;
    background-color: #a85066;
    color: white;
    width: 1000px;
    height: 250px;
}

.foot_contato {
    display: flex;
    flex-direction: column;
    font-family: 'Ropa Sans';
    line-height: 30px;
}

.foot_infos {
    font-family: 'Ropa Sans';
    line-height: 30px;
}

.socials {
    font-family: 'Ropa Sans';
    line-height: 30px;
}

.socials_logo {
    display: flex;
    width: 100px;
}

.face {
    margin-left: 10px;
    margin-right: 15px;
}

.insta {
    margin-right: 15px;
}

hr {
    width: 250px;
}

.copyright {
    background-color: rgb(201, 199, 199);
    font-size: 10px;
    text-align: center;
}

.all_content {
    margin: 0 auto;
    width: 1000px;
}